body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#mynav {
  background-color: yellow;
  text-decoration-color: whitesmoke;
  padding: 10px; ;
  margin:0px ;
  
  
 text-align: center;
 
}
.fa-location-arrow{
  color: yellow;
}
.fa-magnifying-glass{
  float:right ;

}
.fa-bitcoin{
  float:right;
  color: yellow;
}
.fa-angle-right{ 
  top:240px;
  float: right;
}
.fa-star{
  align-items: right;
}


.mylink {
  margin: 25px;
 
}
